<div class="container-fluid mx-0 ">
  <div id="carouselExampleControls" class="carousel slide container " data-bs-interval="8000"  data-bs-ride="carousel">
    <div class="carousel-inner">
      


                 <!-- Data harvest FIRST SLIDE carousel -->
 
                 <div class="carousel-item active">

                  <div class="divi">
                    <div class="image2" style="width: 44%;">
                      <p class="content1" >Data is everywhere and it
                        is one of the most valuable
                        assets for corporations
                        today but many don't
                        know how to gain from it.
                        We can help you leverage
                        that wealth you already
                        have and provide you the
                        competitive advantage to
                        excel in your industry.</p>
                      </div>
                      <div class="">
                        <img style="width: 97%;" src="../../assets/data_harvest_final.png" class="officeimage2" alt="...">
                      </div>
                  </div>
                </div>
          
          <!-- end -->
      
          
      
      
      
      
      <!-- small business carousel -->
       
          <div class="carousel-item ">
      
            <div class="divi">
              <div class="image">
                <p class="content1" style="margin-top: 22%;" >We understand the
                  difficulties in running small to
                  medium sized firms and are
                  here with a helping hand to
                  take on the technology
                  challenges of your business
                  initiatives.</p>
                </div>
                <div class="image3">
                  <img src="../../assets/small_business.jpg" class="officeimage" alt="...">
                </div>
            </div>
          </div>
      
      <!-- end -->
      
      
      <!-- data processing carousel -->
      
      <div class="carousel-item">
      
      <div class="divi">
        <div class="image">
          <p class="content1" style="margin-top: 25%;" >KARS is an expert data
            technology provider.
            
            We specialize in onboarding,
            validations, transformations
            and analytical dashboards
            using cloud computing.</p>
          </div>
          <div class="image4">
            <img src="../../assets/dataproc2.jpg" class="officeimage1" alt="...">
          </div>
      </div>
      </div>
      
      <!-- end -->
      
      <!-- handshake carousel -->
      
      <div class="carousel-item">
      
      <div class="divi">
      <div class="image">
      <p class="content1" style="margin-top: 22%;" >We can help fulfill your
        cloud-based technology
        needs. We provide end to
        end services from analyzing
        requirements, designing your
        application to deploying it in
        cloud.</p>
      </div>
      <div class="">
        <img src="../../assets/handshake.jpg" class="officeimage" alt="...">
      </div>
      </div>
      </div>
      
      <!-- end -->
      
      <!-- office carousel  -->
      <div class="carousel-item">
      
        <div class="divi">
          <div class="image">
            <p class="content1" style="margin-top: 21%;"  >KARS team can fulfill most of
              your technology need from
              onsite technology
              implementation to setting
              and maintaining up your own
              dedicated offshore
              development center (ODC) at
              affordable costs.</p>
          </div>
          <div class="">
            <img src="../../assets/office.jpg" class="officeimage" alt="...">
          </div>
        </div>
      </div>
      <!-- end  -->
      
      
      
      
      
      
      <!-- sdlc carousel -->
      <div class="carousel-item  ">
      <div class="divi">
      <div class="image">
      <p class="content1" >We are helping small and
      medium sized businesses in
      Pharmaceutical, Financial and
      Insurance sectors.
      
      We will help you manage
      your technology
      requirements in software
      application development and
      maintenance services in the
      most cost-effective way.
      </div>
      <div class="">
      <img src="../../assets/sdlc.jpg" class="image1" alt="...">
      </div>
      </div>
      </div>
      
      
      <!-- end of first -->
      
      
      <!-- challenges carousel -->
      <div class="carousel-item  ">
      <div class="divi">
      <div class="image">
      <p class="content1" >KARS management understands
      the challenges faced by the
      small and medium sized
      establishments and is willing to
      partner for the long-term
      relationships enabling you to
      work on your business need and
      we help bridge the technology
      portion of your initiatives.
      </div>
      <div class="">
      <img src="../../assets/challenges.jpg" class="image1" alt="...">
      </div>
      </div>
      </div>
      <!-- end of first -->



<!-- circles last slide carousel -->
<div class="carousel-item  ">
<div class="divi">
<div class="image" style="width: 50%;">
<p class="content1" style="margin-top: 30%; " >We believe in the golden
circle and our team works on
the same principles. Golden
circle has helped us deliver
precise and practical
solutions with manageable
costs.
</div>
<div class="">
<img style="height: 90%;
margin-top: 10px;
margin-left: 15%;
width: 75%;" src="../../assets/circles.png" class="image5" alt="...">
</div>
</div>
</div>
<!-- end of first -->
           


    









      
      

      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

